.headers {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 12px;
  font-family: Microsoft YaHei-Regular, Microsoft YaHei;
  font-weight: 400;
  color: #323232;
}
.headers .contact {
  width: 167px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 4px;
  color: #4978FE;
  border: 1px solid #4978fe;
}
.headers .recharge-balance {
  margin-left: 24px;
  width: 200px;
  height: 40px;
  box-sizing: border-box;
  padding: 0 4px;
  display: flex;
  align-items: center;
  color: #fff;
  background: #4978fe;
  border-radius: 4px;
}
.headers .recharge-balance .balance-line {
  height: 12px;
  opacity: 0.3;
  border-left: 1px solid #ffffff;
}
.headers .recharge-balance .balance {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headers .recharge-balance .balance .headers-money-icon {
  width: 16px;
  height: 16px;
}
.headers .recharge-balance .balance .balance-title {
  margin-left: 8px;
}
.headers .recharge-balance .recharge {
  padding: 0 20px;
  cursor: pointer;
}
.headers .customer-service {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.headers .head-message {
  width: 40px;
  height: 40px;
}
.headers .user-name {
  padding: 0 10px;
}
.headers .invitation-code-box {
  margin-right: 25px;
}
.headers .invitation-code-box .invitation-code {
  margin-left: 5px;
  color: #F53C59;
  font-weight: bold;
}
.headers .exit-main {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.headers .exit {
  margin-left: 12px;
}
