.ullist {
  overflow: auto;
  background-color: white;
  box-sizing: border-box;
  padding: 20px;
  min-height: 500px;
}
.ullist li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e7e7e7;
  padding: 0 20px;
  height: 50px;
}
.ullist li strong {
  font-size: 15px;
}
.ullist li p {
  font-size: 13px;
  cursor: pointer;
}
.ullist li p:hover {
  color: #327DFC;
}
.ullist .nav {
  font-size: 28px;
  font-weight: 900;
  height: 80px;
}
